<h2>Tournament Administration</h2>
<button id="new-tournament" class="btn">New Tournament</button>
<table>
	<tr><th>Game</th><th>Name</th></tr>
	{{#each this}}
		<tr><td>{{game}}</td><td>{{name}}</td></tr>
	{{/each}}
</table>