<div class="bracket">
	<select class="player">
	{{#each this}}
		<option value="{{_id}}">{{handle}}</option>
	{{/each}}
	</select>
	<select class="player">
	{{#each this}}
		<option value="{{_id}}">{{handle}}</option>
	{{/each}}
	</select>
</div>