<h2>Browse Tournaments</h2>
<button id="new-tournament" class="btn" type="button">New Tournament</button>
<table>
	<tr><th>Game</th><th>Name</th></tr>
	{{#each this}}
		<tr><td>{{game.name}}</td><td>{{name}}</td></tr>
	{{/each}}
</table>