<p>Create Tournament</p>
<p>Name</p>
<input id="name" />
<p>Game</p>
<input id="game" />
<p>Rounds</p>
<table id="rounds">
	<tr><th>Round<button id="add-round">+</button><button id="remove-round">-</button></th><th>Format</th><th>Due Date</th></tr>
</table>