<h2>Create Tournament</h2>
<label>Name</label>
<input id="name" class="input-medium" type="text" placeholder="Tournament Name" />
<label>Game</label>
<select id="game">
	{{#each this}}
		<option value="{{this.id}}">{{this.name}}</option>
	{{/each}}
</select>
<div id="new-player">
  <label>Create New Player</label>
  <input id="new-player-handle" class="input-medium" type="text" placeholder="player handle" />
  <button id="create-new-player" type="button" class="btn">Create Player</button>
</div>
<p>Rounds</p>
<table id="rounds">
	<tr><th>Round<i id="add-round" class="icon-plus"></i><i id="remove-round" class="icon-minus"></i></th><th>Format</th><th>Start Date</th></tr>
</table>
<div id="players" />
<div class="form-actions">
  <button type="submit" id="create-tournament" class="btn btn-primary">Create</button>
  <button type="button" id="cancel-create-tournament" class="btn">Cancel</button>
</div>