<span id="signinButton">
	<span
		class="g-signin"
		data-callback="{{signinCallback}}"
		data-clientid="{{appId}}.apps.googleusercontent.com"
		data-cookiepolicy="single_host_origin"
		data-scope="https://www.googleapis.com/auth/userinfo.email">
	</span>
</span>