<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="brand" href="#">LingBling</a>
      <div class="nav-collapse collapse">
        <ul class="nav">
          <li id="tournaments-link"><a href="#tournaments">Tournaments</a></li>
          <li><button type="button" id="sign-in-button" class="btn">sign in</button></li>
          <li><button type="button" id="sign-out-button" class="btn" style="display:none">sign out</button></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>

<div id="content" class="container">
</div>